[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
environ = "*"
mysqlclient = "==2.2.4"
django-debug-toolbar = "*"
django-environ = "*"
whitenoise = "*"
django-cors-headers = "*"
django-rest-knox = "*"

[dev-packages]

[requires]
python_version = "3.12"
